.input-wrapper {
    height: 9em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 16px;
    margin: 5px;
    background-color: #c0d796;
    border-radius: 25px;
}

.result {
    flex: 1;
    font-size: 24px;
}

.text {
    flex: 1;
    font-size: 18px;
}