body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: #5c5d69;
  width: 400px;
  border-radius: 18px;
  padding: 10px;
}

.rows {
  display: flex;
}

.history {
  width: 300px;
  background-color: #5c5d69;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.history .history-frame{
  background-color: #c0d796;
  padding: 20px;
  border-radius: 8px;
}

.history h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  margin-bottom: 5px;
  font-size: 14px;
}

.history li span {
  margin-right: 5px;
}
